h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  width: 100%;
  position: relative;
  margin-inline: auto;
  padding-inline: 1rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pos-relative {
  position: relative;
}
